In [ ]:
CREATE DATABASE mydatabase;

CREATE TABLE mydatabase.mytable (
    id INT,
    name STRING,
    age INT
);

INSERT INTO mydatabase.mytable (id, name, age)
VALUES
  (1, 'Tom Cat', 20)
  (2, 'john cena', 25);

SELECT * FROM mydatabase.mytable;

SELECT name, age FROM mydatabase.mytable WHERE age > 20;